@model MolyCoreWeb.Models.DTOs.StockGetListOut

@{
    ViewData["Title"] = "Stock List";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="row">
    <div class="col-md-3">
        <label for="Q_MARKET_TYPE">市場別</label>
        <select id="Q_MARKET_TYPE" class="form-control">
            <option value="TWSE">證交所</option>
            <option value="OTC">櫃買中心</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="Q_ASSETS_TYPE">資產別</label>
        <select id="Q_ASSETS_TYPE" class="form-control">
            <option value="股票">股票</option>
            <option value="ETF">ETF</option>
        </select>
    </div>
    <div class="col-md-3">
        <br />
        <button type="button" class="btn btn-default" onclick="getList()">查詢</button>
        <button type="button" class="btn btn-default" onclick="updateData()">更新</button>
    </div>
</div>

<div id="result-panel" class="panel panel-default" style="display:none;">
    <div class="panel-heading">
        <span id="cname">清單</span>
        <div style="float:right;">
            總筆數: <span id="rowcnt"></span>
        </div>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>代碼</th>
                    <th>名稱</th>
                    <th>市場別</th>
                    <th>資產別</th>
                    <th>上市日</th>
                    <th>產業別</th>
                    <th>CFICode</th>
                    <th>國際證券辨識號碼</th>
                </tr>
            </thead>
            <tbody id="stock-list">
                <!-- Data will be appended here -->
            </tbody>
        </table>
    </div>
</div>

<script>

    function getList() {
        var marketType = $('#Q_MARKET_TYPE').val();
        var assetsType = $('#Q_ASSETS_TYPE').val();

        $.ajax({
            url: '@Url.Action("GetList", "Stock")',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                Q_MARKET_TYPE: marketType,
                Q_ASSETS_TYPE: assetsType
            }),
            // JSON 序列化工具可能會將屬性名稱轉換為小寫
            success: function (result) {
                $('#result-panel').show();
                var stockList = $('#stock-list');
                stockList.empty();
                console.log(result);
                if (result.gridList && result.gridList.length > 0) {
                    let rowsHtml = result.gridList.map(stock => `
                <tr>
                    <td>${stock.stocK_CODE}</td>
                    <td>${stock.stocK_NAME}</td>
                    <td>${stock.markeT_TYPE}</td>
                    <td>${stock.assetS_TYPE}</td>
                    <td>${stock.publiC_DATE}</td>
                    <td>${stock.industry}</td>
                    <td>${stock.cfI_CODE}</td>
                    <td>${stock.isiN_CODE}</td>
                </tr>
            `).join('');

                    stockList.html(rowsHtml);
                    $('#rowcnt').text(result.gridList.length);
                } else {
                    stockList.html('<tr><td colspan="8">沒有找到資料</td></tr>');
                }
            },

            error: function (xhr, status, error) {
                console.error('查詢失敗:', error); // 打印错误信息到控制台
                alert('查詢失敗');
            }
        });
    }

    function updateData() {
        $.ajax({
            url: '@Url.Action("UpdateData", "Stock")',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                Q_MARKET_TYPE: $('#Q_MARKET_TYPE').val(),
                Q_ASSETS_TYPE: $('#Q_ASSETS_TYPE').val()
            }),
            success: function (response) {
                alert('股票數據已更新');
                console.log(response);
            },
            error: function (xhr, status, error) {
                console.error('更新股票數據時發生錯誤:', error);
                alert('更新股票數據失敗');
            }
        });
    }
</script>
