@model MolyCoreWeb.Models.DTOs.StockGetListOut

@{
    ViewData["Title"] = "Stock List";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="row">
    <div class="col-md-3">
        <label for="Q_MARKET_TYPE">市場別</label>
        <select id="Q_MARKET_TYPE" class="form-control">
            <option value="TWSE">證交所</option>
            <option value="OTC">櫃買中心</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="Q_ASSETS_TYPE">資產別</label>
        <select id="Q_ASSETS_TYPE" class="form-control">
            <option value="股票">股票</option>
            <option value="ETF">ETF</option>
        </select>
    </div>
    <div class="col-md-6">
        <br />
        <div class="row">
            <div class="col-md-2">
                <button type="button" class="btn btn-default" onclick="getList()">查詢</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-default" onclick="updateData()">更新</button>
            </div>
            <div class="col-md-2">
                <div id="message"></div>
            </div>
        </div>
    </div>
</div>

<div id="result-panel" class="panel panel-default" style="display:none;">
    <div class="panel-heading">
        <span id="cname">清單</span>
        <div style="float:right;">
            總筆數: <span id="rowcnt"></span>
        </div>
    </div>
    <div class="panel-body">
        <input type="text" id="stock-search" class="form-control" placeholder="搜索股票ID" onkeyup="searchStock()">
        <table class="table">
            <thead>
                <tr>
                    <th>代碼</th>
                    <th>名稱</th>
                    <th>市場別</th>
                    <th>資產別</th>
                    <th>上市日</th>
                    <th>產業別</th>
                    <th>CFICode</th>
                    <th>國際證券辨識號碼</th>
                </tr>
            </thead>
            <tbody id="stock-list">
            </tbody>
        </table>
    </div>
</div>

<script>
    function getList() {
        var marketType = $('#Q_MARKET_TYPE').val();
        var assetsType = $('#Q_ASSETS_TYPE').val();

        $('#message').text('查詢中...');

        $.ajax({
            url: '@Url.Action("GetList", "Stock")',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                Q_MARKET_TYPE: marketType,
                Q_ASSETS_TYPE: assetsType
            }),
            success: function (result) {
                $('#result-panel').show();
                var stockList = $('#stock-list');
                stockList.empty();

                if (result.gridList && result.gridList.length > 0) {
                    let rowsHtml = result.gridList.map(stock => `
                    <tr>
                        <td class="stock-id">${stock.stocK_CODE}</td>
                        <td>${stock.stocK_NAME}</td>
                        <td>${stock.markeT_TYPE}</td>
                        <td>${stock.assetS_TYPE}</td>
                        <td>${stock.publiC_DATE}</td>
                        <td>${stock.industry}</td>
                        <td>${stock.cfI_CODE}</td>
                        <td>${stock.isiN_CODE}</td>
                    </tr>
                `).join('');

                    stockList.html(rowsHtml);
                    $('#rowcnt').text(result.gridList.length);
                } else {
                    stockList.html('<tr><td colspan="8">沒有找到資料</td></tr>');
                }
                $('#message').text('查詢完畢');
            },
            error: function (xhr, status, error) {
                console.error('查詢失敗:', error);
                alert('查詢失敗');
                $('#message').text('查詢失敗');
            }
        });
    }

    function updateData() {
        $('#message').text('股票數據更新中...');

        $.ajax({
            url: '@Url.Action("UpdateData", "Stock")',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                Q_MARKET_TYPE: $('#Q_MARKET_TYPE').val(),
                Q_ASSETS_TYPE: $('#Q_ASSETS_TYPE').val()
            }),
            success: function (response) {
                alert('股票數據已更新');
                $('#message').text('股票清單更新完畢');
            },
            error: function (xhr, status, error) {
                alert('更新股票數據失敗');
                $('#message').text('更新失敗：' + xhr.responseText);
            }
        });
    }

    function searchStock() {
        var input = document.getElementById("stock-search");
        var filter = input.value.toUpperCase();
        var table = document.getElementById("stock-list");
        var tr = table.getElementsByTagName("tr");

        for (var i = 0; i < tr.length; i++) {
            var td = tr[i].getElementsByClassName("stock-id")[0];
            if (td) {
                var txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
