
<!DOCTYPE html>
<html>
<head>
    <title>公司基本資料 - @Model.StockName (@Model.StockCode)</title>
</head>
<body>
    <h1>公司基本資料</h1>
    <p>公司名稱: @Model.CompanyName</p>
    <p>市場別: @Model.MarketType</p>
    <!-- Add more fields as necessary -->
</body>
</html>
