@model MolyCoreWeb.Models.DBEntitiy.StockInfo

<!DOCTYPE html>
<html>
<head>
    <title>Stock Details</title>
</head>
<body>
    <h1>股票詳細信息</h1>
    <p>公司基本資料:</p>
    <p>個股新聞</p>
    <p>歷年股利</p>
    <!-- More fields as necessary -->
</body>
</html>
